.idea
.vscode
.DS_Store

.env
.envrc

source.sh
dev-env/
*.exe
.air.toml
coverage.out
.bin/
bin/
dist/
tmp/
.cache/
# bug of idea openapi plugin, see https://youtrack.jetbrains.com/issue/IDEA-285879
/gen/

taskfile.yaml
node_modules/
pnpm-lock.yaml
yarn.lock
.task/

config.yaml
package.json
