<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Readme</title>
  <script src="https://cdn.jsdelivr.net/npm/remarkable@2/dist/remarkable.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
  <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/gh/sindresorhus/github-markdown-css@main/github-markdown-light.css"
  />
</head>
<body>
<div class="container">
  <div class="row">
    <div id="content" class="markdown-body"></div>
  </div>
</div>

<script>
const {Remarkable, linkify, utils} = window.remarkable;
// Or with options:
const md = new Remarkable("full", {
  html: true,
  typographer: true,
});

document.getElementById("content").innerHTML = md.render('## running version: `{{.version}}`\n\n{{.readme}}');
</script>
</body>
</html>
