name: build

on:
  push:
    branches-ignore:
      - renovate/**
  pull_request:
    branches:
      - master

jobs:
  docker:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v6

      - name: Install Go
        uses: trim21/actions/setup-go@master

      - run: go build -trimpath -o dist/img-proxy
        name: Build Binary
        env:
          CGO_ENABLED: '0'

      - run: docker build -t tmp .

      - run: docker run tmp -h
