name: test

on:
  push:
    branches-ignore:
      - renovate/**
  pull_request:
    branches:
      - master

jobs:
  docker:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v6

      - uses: trim21/actions/setup-go@master
        with:
          cache-namespace: build

      - run: go test ./...
